body {
  padding: 50px;
  padding-bottom: 500px;
  background-color: #efefef;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}
